.title{
  position: absolute;
  top:3vh;
  left: 0;
  font-family: unset;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  width:96vw;
  height:7vh;
  font-size: 30px;
  background-color: #363636;
  color: rgb(224, 225, 226);
  outline: none;
  border: none;
  border-width:0.1vw;
  border-bottom-style: solid;
border-color: rgba(255, 255, 255, 0.19); 
z-index: 100;
}


.contents{
  left: 0;
  position: absolute;
  top:12vh;
  width:97vw;
  height:85vh;
    padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 30px;
    background-color: #363636;
  color: rgb(224, 225, 226);
  outline: none;
  border: none;
  margin:0;
overflow-x: hidden;  /* 가로 스크롤을 숨김 */
  overflow-y: auto;

}


