.title{
  font-family: unset;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  width:96vw;
  height:7vh;
  font-size: 30px;
  background-color: #363636;
  color: rgb(224, 225, 226);
  outline: none;
  border: none;
  border-width:0.1vw;
  border-bottom-style: solid;
border-color: rgba(255, 255, 255, 0.19); 
}

.creatB{
  width: 100px;
  z-index: 10;
  position: absolute;
  right: 0;
}

.contents{
  width:95vw;
  height:90vh;
    padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 30px;
    background-color: #363636;
  color: rgb(224, 225, 226);
  outline: none;
  border: none;
  margin:0;
overflow-x: hidden;  /* 가로 스크롤을 숨김 */
  overflow-y: auto;

}

.right{
  z-index: 1;
  margin-left: 4vw;
  background-color:rgba(0, 0, 0, 0.499);
width: 95.95vw; /* 화면의 1/3을 차지 */
height: 100vh;
display: inline-block;
border-width:0.05vw;
border-left-style: solid;
border-color: rgba(255, 255, 255, 0.19);
position: fixed;
}
